<div class="today-expenses-section">
    <div class="today-expenses-header">
        <div class="today-title">Today's Expenses</div>
        <div class="today-item-count">
            Total item<span id="item-plural">{{ today_items|length|pluralize }}</span> added:
            <span id="today-count">{{ today_items|length }}</span>
        </div>
        <div class="today-total-expense">
            Total expense today:
            <span id="today-total-expense">৳0.00</span>
        </div>
    </div>
    <div id="today-expense-grid"></div>
</div>